<% include ./partials/header%>
    <% blogs.forEach(function(blog){ %>
        <!--<div class='ui raised very padded text container segment'>-->
        <div class='ui main text container segment'>
            <h2><%= blog.title %></h2>
            <img src="<%= blog.image %>">
            <span>Created <%= blog.dateOfCreation.toDateString() %> </span>
            <%if(blog.body !== undefined){ %>
            <p><%= blog.body.substring(0, 100)%>...</p>
            <% } %>
            <a href='/blogs/<%= blog._id %>'>read more</a>
        </div>
<% }); %>
<% include ./partials/footer %>